<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Difference</title>
</head>

<body>
    <div class="row">
        <div class="column">
            <img src="C:\Users\chris\Desktop\ttt\1.bmp" alt="Image A" style="width:100%">
        </div>
        <div class="column">
		<div style="position: relative; top: 440px; left: 350px;  z-index: 3; border: 3px solid #73AD21; width: 100px; height: 100px"></div>
		<div style="position: relative; top: 340px; left: 250px; z-index: 3; border: 3px solid #73AD21; width: 100px; height: 100px"></div>
            <img src="C:\Users\chris\Desktop\ttt\2.bmp" alt="Image B" style="width:100%; position: relative; z-index: 2;top: 0px; left: 0px;" >
    </div>
        </div>
    <div class="row">
        {{list}}
    </div>
</body>

</html>